<div class="container">
  <div class="row">
    <div class="col-6">
      <h2 class="text-center">Register Form</h2>
      <form (ngSubmit)="onSubmit(myform)" #myform="ngForm">
        <div class="form-group">
          <!-- <label for="rollno">Roll No</label> -->
          <input type="number" name="rollno" placeholder="Roll No" [(ngModel)]="rollno" class="form-control" required />
          <!-- <div [hidden]="rollno" class="alert alert-danger">
            Roll No. is required
          </div> -->
        </div>
        <div class="form-group">
          <!-- <label for="name">Name</label> -->
          <input type="text" name="name" placeholder="Name" [(ngModel)]="name" class="form-control" required />
        </div>
        <div class="form-group">
          <!-- <label for="email">Email</label> -->
          <input type="email" name="email" placeholder="Email" [(ngModel)]="email" class="form-control" required />
        </div>
        <div class="form-group">
          <!-- <label for="password">Password</label> -->
          <input type="password" name="password" placeholder="Password" [(ngModel)]="password" class="form-control" required />
        </div>
        <div class="form-group">
          <!-- <label for="mobno">Mobile No.</label> -->
          <input type="number" name="mobno" placeholder="Mobile No" [(ngModel)]="mobno" class="form-control" required />
        </div>
        <div class="form-group">
          <!-- <label for="country">Country</label> -->
          <select name="country" [(ngModel)]="country" class="form-control" required>
            <option selected *ngIf="!country" [value]="country">{{ 'Select Country' }}</option>
            <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success form-control" [disabled]="!myform.form.valid">Register</button>
      </form>
    </div>
    <div *ngIf="display" class="col-6">
      <h2 class="text-center">Student Details</h2>
      <div class="container">
        <div class="row">
          <div class="col">
            <label for="rollno">Roll No. :</label>
            {{ rollno }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="name">Name :</label>
            {{ name }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="email">Email :</label>
            {{ email }}
          </div>
        </div>
        <!-- <div class="row">
          <div class="col">
            <label for="password">Password :</label>
            {{ password }}
          </div>
        </div> -->
        <div class="row">
          <div class="col">
            <label for="mobno">Mobile No. :</label>
            {{ mobno }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="country">Country :</label>
            {{ country }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>